<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NoticeMapper">

	<resultMap id="NoticeResultMap" type="NoticeDTO">
		<id property="noticeNum" column="notice_num" />
		<result property="memberNum" column="member_num" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="views" column="views" />
		<result property="createdAt" column="created_at" />
	</resultMap>

	<resultMap id="NoticeDetailsResultMap" type="NoticeDetailsDTO">
		<id property="noticeNum" column="notice_num" />
		<result property="memberNum" column="member_num" />
		<result property="memberName" column="member_name" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="views" column="views" />
		<result property="createdAt" column="created_at" />
	</resultMap>

	<insert id="insert" parameterType="NoticeDTO">
		<selectKey keyProperty="noticeNum" resultType="Long"
			order="BEFORE">
			SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
		</selectKey>

		INSERT INTO NOTICE (notice_num, member_num, title, content, views,
		created_at)
		VALUES (#{noticeNum}, #{memberNum}, #{title}, #{content},
		#{views}, #{createdAt})
	</insert>

	<select id="getNoticeByNo" parameterType="Long"
		resultMap="NoticeResultMap">
		SELECT *
		FROM NOTICE
		WHERE notice_num=#{noticeNum}
	</select>


	<select id="getNotices" resultMap="NoticeResultMap">
		SELECT *
		FROM NOTICE
	</select>



	<select id="getNoticeDetailsByNo" parameterType="Long" resultMap="NoticeDetailsResultMap">
		select
			n.notice_num as notice_num,
			n.member_num as meber_no,
			n.title as title,
			n.content as content,
			n.views as views,
			n.created_at as created_at,
			m.member_name as member_name
		from notice n
		left outer join member m
		on n.member_num = m.member_num
		where n.notice_num = #{noticeNum}
	</select>
	
	<select id="getNoticeDetailsList" resultMap="NoticeDetailsResultMap">
		select
			n.notice_num as notice_num,
			n.member_num as member_num,
			n.title as title,
			n.content as content,
			n.views as views,
			n.created_at as created_at,
			m.member_name as member_name
		from notice n
		left outer join member m
		on n.member_num = m.member_num
		order by notice_num DESC
	</select>

	<update id="update" parameterType="NoticeDTO">
		UPDATE NOTICE
		SET
		title=#{title},
		content=#{content}
		WHERE notice_num=#{noticeNum}
	</update>

	<delete id="delete" parameterType="Long">
		DELETE FROM NOTICE
		WHERE
		notice_num=#{noticeNum}
	</delete>
	
	<update id="increaseViews" parameterType="Long">
	   UPDATE NOTICE
	   SET
	       views=views+1
	   WHERE notice_num=#{noticeNum}
	</update>

</mapper>